.mdc-icon-button {
  &.mdc-button{
    --_container-size: 40px;
    --_spacing-leading: 0;
    --_spacing-trailing: 0;
    --_only-icon-icon-size: 24px;
    --_disabled-icon-color: var(--md-sys-color-on-surface);
    --_disabled-icon-opacity: 0.38;
    --md-focus-ring-shape-start-start: var(--_container-shape-start-start);
    --md-focus-ring-shape-start-end: var(--_container-shape-start-end);
    --md-focus-ring-shape-end-end: var(--_container-shape-end-end);
    --md-focus-ring-shape-end-start: var(--_container-shape-end-start);
  }
  display: inline-flex;
  height: var(--_container-size);
  justify-content: center;
  outline: none;
  width: var(--_container-size);
}
.mdc-icon-button[disabled] {
  pointer-events: none;
}
.mdc-icon-button {
  align-items: center;
  background: none;
  border: none;
  border-end-end-radius: var(--_container-shape-end-end);
  border-end-start-radius: var(--_container-shape-end-start);
  border-start-end-radius: var(--_container-shape-start-end);
  border-start-start-radius: var(--_container-shape-start-start);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  outline: none;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
  .mdc-badge.top-right{

  }
  .mdc-ripple {
    border-end-end-radius: var(--_container-shape-end-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-start-start-radius: var(--_container-shape-start-start);
    z-index: -1;
  }
  &.flip-icon .mdc-icon {
    transform: scaleX(-1);
  }
  &.mdc-button .mdc-icon {
    display: inline-flex;
    font-size: var(--_only-icon-icon-size);
    inline-size: var(--_only-icon-icon-size);
    block-size: var(--_only-icon-icon-size);
    height: var(--_only-icon-icon-size);
    width: var(--_only-icon-icon-size);
  }
  .link {
    height: 100%;
    outline: none;
    width: 100%;
  }
  .link,
  .touch {
    position: absolute;
  }
  .touch {
    height: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
  }

}
