.md-standard-icon-button {

  --_selected-focus-icon-color: var(--md-sys-color-primary);
  --_selected-focus-state-layer-color: var(--md-sys-color-primary);
  --_selected-focus-state-layer-opacity: 0.12;
  --_selected-hover-icon-color: var(--md-sys-color-primary);
  --_selected-hover-state-layer-color: var(--md-sys-color-primary);
  --_selected-hover-state-layer-opacity: 0.08;
  --_selected-icon-color: var(--md-sys-color-primary);
  --_selected-pressed-icon-color: var(--md-sys-color-primary);
  --_selected-pressed-state-layer-color: var(--md-sys-color-primary);
  --_selected-pressed-state-layer-opacity: 0.12;
  --_state-layer-shape: var(--md-icon-button-state-layer-shape, 9999px);
  --_state-layer-size: var(--md-icon-button-state-layer-size, 40px);
  --_unselected-focus-icon-color: var(--md-sys-color-on-surface-variant);
  --_unselected-focus-state-layer-color: var(--md-sys-color-on-surface-variant);
  --_unselected-focus-state-layer-opacity: 0.12;
  --_unselected-hover-icon-color: var(--md-sys-color-on-surface-variant);
  --_unselected-hover-state-layer-color: var(--md-sys-color-on-surface-variant);
  --_unselected-hover-state-layer-opacity: 0.08;
  --_unselected-icon-color: var(--md-sys-color-on-surface-variant);
  --_unselected-pressed-icon-color: var(--md-sys-color-on-surface-variant);
  --_unselected-pressed-state-layer-color: var(--md-sys-color-on-surface-variant);
  --_unselected-pressed-state-layer-opacity: 0.12;
  --md-focus-ring-shape: var(--_state-layer-shape);

  &.standard {
    --md-ripple-focus-color: var(--_unselected-focus-state-layer-color);
    --md-ripple-focus-opacity: var(--_unselected-focus-state-layer-opacity);
    --md-ripple-hover-color: var(--_unselected-hover-state-layer-color);
    --md-ripple-hover-opacity: var(--_unselected-hover-state-layer-opacity);
    --md-ripple-pressed-color: var(--_unselected-pressed-state-layer-color);
    --md-ripple-pressed-opacity: var(--_unselected-pressed-state-layer-opacity);
    --md-ripple-shape: var(--_state-layer-shape);
    background-color: transparent;
    color: var(--_unselected-icon-color);
  }
  &.standard:hover {
    color: var(--_unselected-hover-icon-color);
  }
  &.standard:focus {
    color: var(--_unselected-focus-icon-color);
  }
  &.standard:active {
    color: var(--_unselected-pressed-icon-color);
  }
  &.standard:disabled {
    color: var(--_disabled-icon-color);
  }
  &.standard:disabled .icon {
    opacity: var(--_disabled-icon-opacity);
  }
  &.selected {
    --md-ripple-focus-color: var(--_selected-focus-state-layer-color);
    --md-ripple-focus-opacity: var(--_selected-focus-state-layer-opacity);
    --md-ripple-hover-color: var(--_selected-hover-state-layer-color);
    --md-ripple-hover-opacity: var(--_selected-hover-state-layer-opacity);
    --md-ripple-pressed-color: var(--_selected-pressed-state-layer-color);
    --md-ripple-pressed-opacity: var(--_selected-pressed-state-layer-opacity);
  }
  &.selected:not(:disabled) {
    color: var(--_selected-icon-color);
  }
  &.selected:not(:disabled):hover {
    color: var(--_selected-hover-icon-color);
  }
  &.selected:not(:disabled):focus {
    color: var(--_selected-focus-icon-color);
  }
  &.selected:not(:disabled):active {
    color: var(--_selected-pressed-icon-color);
  }
}

