
.mdc-navigation-bar {
  --mdc-navigation-bar-container-color: var(--md-sys-color-surface-container);
  --mdc-navigation-bar-active-focus-icon-color: var(--md-sys-color-on-secondary-container);
  --mdc-navigation-bar-active-indicator-color: var(--md-sys-color-secondary-container);
  --mdc-navigation-bar-inactive-focus-icon-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-focus-label-text-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-focus-state-layer-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-hover-icon-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-hover-label-text-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-hover-state-layer-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-icon-color: var(--md-sys-color-on-surface-variant);
  --mdc-navigation-bar-inactive-label-text-color: var(--md-sys-color-on-surface-variant);
  --mdc-navigation-bar-inactive-pressed-icon-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-pressed-label-text-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-inactive-pressed-state-layer-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-label-text-font: var(--md-ref-typeface-plain);
  --mdc-navigation-bar-label-text-line-height: 1rem;
  --mdc-navigation-bar-label-text-size: 0.75rem;
  --mdc-navigation-bar-label-text-tracking: 0.031rem;
  --mdc-navigation-bar-label-text-type: 500 0.75rem/1rem var(--md-ref-typeface-plain, Roboto);
  --mdc-navigation-bar-active-focus-label-text-color: var(--md-sys-color-on-surfac);
  --mdc-navigation-bar-active-focus-state-layer-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-active-hover-icon-color: var(--md-sys-color-on-secondary-container);
  --mdc-navigation-bar-active-hover-label-text-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-active-hover-state-layer-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-active-icon-color: var(--md-sys-color-on-secondary-container);
  --mdc-navigation-bar-active-label-text-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-active-label-text-weight: 700;
  --mdc-navigation-bar-active-pressed-icon-color: var(--md-sys-color-on-secondary-container);
  --mdc-navigation-bar-active-pressed-label-text-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-active-pressed-state-layer-color: var(--md-sys-color-on-surface);
  --mdc-navigation-bar-container-shape: 0px;
  --mdc-navigation-bar-container-height: 80px;
  --mdc-navigation-bar-active-indicator-height: 32px;
  --mdc-navigation-bar-container-elevation: 2,
  --mdc-navigation-bar-active-indicator-shape: 9999px;
  --mdc-navigation-bar-active-indicator-width: 64px;
  --mdc-navigation-bar-focus-state-layer-opacity: 0.12;
  --mdc-navigation-bar-hover-state-layer-opacity: 0.08;
  --mdc-navigation-bar-icon-size: 24px;
  --mdc-navigation-bar-label-text-weight: 500;
  --md-navigation-bar-pressed-state-layer-opacity: 0.12;
  background-color: var(--mdc-navigation-bar-container-color);
  border-radius: var(--mdc-navigation-bar-container-shape);
  display: flex;
  width: 100%;
  height: 100%;
  // position: fixed;

  &.top, &.bottom{
    width: 100%;
    height: var(--mdc-navigation-bar-container-height);
    left: 0;
    right: 0;

  }
  &.top{
    top: 0;
  }
  &.bottom{
    bottom: 0;
  }
  &.left, &.right{
    width: var(--mdc-navigation-bar-container-height);
    height: 100%;
    top: 0;
    bottom: 0;
  }
  &.left{
    left: 0;
  }
  &.right{
    right: 0;
  }
  .mdc-navigation-bar__tabs-slot-container {
    display: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
  }
}

// @media (max-width: 599px) {
//   .mdc-navigation-bar {
//     background-color: var(--mdc-navigation-bar-container-color);
//     border-radius: var(--mdc-navigation-bar-container-shape);
//     display: flex;
//     height: var(--mdc-navigation-bar-container-height);
//     position: fixed;
//     width: 100%;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     .mdc-navigation-bar__tabs-slot-container {
//       display: inherit;
//       width: inherit;
//       display: flex;
//       flex-direction: row;
//     }
//   }
// }

@import './tab.scss';
