.mdc-elevated-button {
  --_container-color: var(--md-sys-color-surface-container-low);
  --_container-elevation: var(--md-elevated-button-container-elevation, 1);
  --_container-shadow-color:  var(--md-sys-color-shadow);

  --_disabled-container-elevation: var(
    --md-elevated-button-disabled-container-elevation,
    0
  );


  --_focus-container-elevation: var(
    --md-elevated-button-focus-container-elevation,
    1
  );


  --_hover-container-elevation: var(
    --md-elevated-button-hover-container-elevation,
    2
  );

  --_hover-state-layer-color: var(
    --md-elevated-button-hover-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );


  --_pressed-container-elevation: var(
    --md-elevated-button-pressed-container-elevation,
    1
  );

  --_pressed-state-layer-color: var(
    --md-elevated-button-pressed-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );




}
