// @import './base.scss';
// @import './elevation.scss';

.mdc-filled-button {
  --md-filled-button-container-shape-start-start: 12px;
  --md-filled-button-container-shape-start-end: 12px;
  --md-filled-button-container-shape-end-end: 12px;
  --md-filled-button-container-shape-end-start: 12px;
  --md-filled-button-container-shape: 8px;
  --_container-color: var(--md-sys-color-primary);
  --_container-elevation: var(--md-filled-button-container-elevation, 0);
  --_container-shadow-color:  var(--md-sys-color-shadow);

  --_disabled-container-elevation: var(
    --md-filled-button-disabled-container-elevation,
    0
  );

  --_focus-container-elevation: var(
    --md-filled-button-focus-container-elevation,
    0
  );
  --_focus-label-text-color: var(--md-sys-color-on-primary);
  --_focus-state-layer-color: var(
    --md-filled-button-focus-state-layer-color,
    var(--md-sys-color-on-primary, #fff)
  );

  --_hover-container-elevation: var(
    --md-filled-button-hover-container-elevation,
    1
  );
  --_hover-label-text-color: var(
    --md-filled-button-hover-label-text-color,
    var(--md-sys-color-on-primary, #fff)
  );
  --_hover-state-layer-color: var(
    --md-filled-button-hover-state-layer-color,
    var(--md-sys-color-on-primary, #fff)
  );

  --_label-text-color: var(
    --md-filled-button-label-text-color,
    var(--md-sys-color-on-primary, #fff)
  );

  --_pressed-container-elevation: var(
    --md-filled-button-pressed-container-elevation,
    0
  );
  --_pressed-label-text-color: var(--md-sys-color-on-primary);
  --_pressed-state-layer-color: var(
    --md-filled-button-pressed-state-layer-color,
    var(--md-sys-color-on-primary, #fff)
  );



  --_with-icon-icon-color: var(
    --md-filled-button-with-icon-icon-color,
    var(--md-sys-color-on-primary, #fff)
  );



}



