// @import './base.scss';

.mdc-outlined-button {

  --_disabled-outline-color: var(--md-sys-color-on-surface);


  --_focus-outline-color: var(--md-sys-color-primary);


  --_hover-outline-color: var(
    --md-outlined-button-hover-outline-color,
    var(--md-sys-color-outline, #79747e)
  );
  --_hover-state-layer-color: var(--md-sys-color-primary);



  --_outline-color: var(
    --md-outlined-button-outline-color,
    var(--md-sys-color-outline, #79747e)
  );
  --_outline-width: var(--md-outlined-button-outline-width, 1px);

  --_pressed-outline-color: var(
    --md-outlined-button-pressed-outline-color,
    var(--md-sys-color-outline, #79747e)
  );
  --_pressed-state-layer-color: var(
    --md-outlined-button-pressed-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );

  .md3-button__outline {
    border-color: var(--_outline-color);
    border-end-end-radius: var(--_container-shape-end-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-start-start-radius: var(--_container-shape-start-start);
    border-style: solid;
    box-sizing: border-box;
    inset: 0;
    position: absolute;
  }

  &:active .md3-button__outline {
    border-color: var(--_pressed-outline-color);
  }
  &:disabled .md3-button__outline {
    border-color: var(--_disabled-outline-color);
    opacity: var(--_disabled-outline-opacity);
  }
  .md3-button__outline,
  .md3-button__ripple {
    border-width: var(--_outline-width);
  }
  .md3-button__ripple {
    block-size: calc(100% - var(--_outline-width) * 2);
    border-color: transparent;
    border-style: solid;
    inline-size: calc(100% - var(--_outline-width) * 2);
  }
}
