// @import './base.scss';

.mdc-text-button {
  --_disabled-label-text-color: var(
    --md-text-button-disabled-label-text-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );


  --_hover-state-layer-color: var(
    --md-text-button-hover-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );


  --_pressed-state-layer-color: var(
    --md-text-button-pressed-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );


  --_spacing-leading: 12px;
  --_spacing-trailing: 12px;
  --_with-icon-spacing-leading: 12px;
  --_with-icon-spacing-trailing: 16px;
  --_with-trailing-icon-spacing-leading: 16px;
  --_with-trailing-icon-spacing-trailing: 12px;
  --_container-color: none;
  --_disabled-container-color: none;
  --_disabled-container-opacity: 0;
}
