// @import './base.scss';
// @import './elevation.scss';

.mdc-tonal-button {
  --_container-color: var(--md-sys-color-secondary-container);
  --_container-elevation: var(--md-tonal-button-container-elevation, 0);
  --_container-shadow-color:  var(--md-sys-color-shadow);
  --_focus-container-elevation: var(
    --md-tonal-button-focus-container-elevation,
    0
  );
  --_focus-label-text-color: var(--md-sys-color-on-secondary-container);
  --_focus-state-layer-color: var(
    --md-tonal-button-focus-state-layer-color,
    var(--md-sys-color-on-secondary-container, #1d192b)
  );

  --_hover-container-elevation: var(
    --md-tonal-button-hover-container-elevation,
    1
  );
  --_hover-label-text-color: var(
    --md-tonal-button-hover-label-text-color,
    var(--md-sys-color-on-secondary-container, #1d192b)
  );
  --_hover-state-layer-color: var(
    --md-tonal-button-hover-state-layer-color,
    var(--md-sys-color-on-secondary-container, #1d192b)
  );

  --_label-text-color: var(
    --md-tonal-button-label-text-color,
    var(--md-sys-color-on-secondary-container, #1d192b)
  );

  --_pressed-container-elevation: var(
    --md-tonal-button-pressed-container-elevation,
    0
  );
  --_pressed-label-text-color: var(--md-sys-color-on-secondary-container);
  --_pressed-state-layer-color: var(
    --md-tonal-button-pressed-state-layer-color,
    var(--md-sys-color-on-secondary-container, #1d192b)
  );


  --_with-icon-focus-icon-color: var(--md-sys-color-on-secondary-container);
  --_with-icon-hover-icon-color: var(--md-sys-color-on-secondary-container);
  --_with-icon-icon-color: var(--md-sys-color-on-secondary-container);
  --_with-icon-pressed-icon-color: var(--md-sys-color-on-secondary-container);

}
