.mdc-select {
  color: unset;
  .field {
    cursor: pointer;
    outline: none;
  }
  .select {
    position: relative;
  }
  .field,
  .select {
    width: 100%;
  }
  .no-label .label {
    display: flex;
  }
}

.mdc-select {
  display: inline-flex;
  .label {
    width: 100%;
  }
  .content{
    line-height: 24px;
    height: 24px;
  }
}

.mdc-select[disabled] {
  pointer-events: none;
}
