.mdc-checkbox {
  --_container-shape: var(--md-checkbox-container-shape, 2px);
  --_container-size: var(--md-checkbox-container-size, 18px);
  --_error-focus-state-layer-color: var(
    --md-checkbox-error-focus-state-layer-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_error-focus-state-layer-opacity: var(
    --md-checkbox-error-focus-state-layer-opacity,
    0.12
  );
  --_error-hover-state-layer-color: var(
    --md-checkbox-error-hover-state-layer-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_error-hover-state-layer-opacity: var(
    --md-checkbox-error-hover-state-layer-opacity,
    0.08
  );
  --_error-pressed-state-layer-color: var(
    --md-checkbox-error-pressed-state-layer-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_error-pressed-state-layer-opacity: var(
    --md-checkbox-error-pressed-state-layer-opacity,
    0.12
  );
  --_icon-size: var(--md-checkbox-icon-size, 18px);
  --_selected-container-color: var(
    --md-checkbox-selected-container-color,
    var(--md-sys-color-primary, #6750a4)
  );
  --_selected-disabled-container-color: var(
    --md-checkbox-selected-disabled-container-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_selected-disabled-container-opacity: var(
    --md-checkbox-selected-disabled-container-opacity,
    0.38
  );
  --_selected-disabled-icon-color: var(
    --md-checkbox-selected-disabled-icon-color,
    var(--md-sys-color-surface, #fef7ff)
  );
  --_selected-error-container-color: var(
    --md-checkbox-selected-error-container-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_selected-error-focus-container-color: var(
    --md-checkbox-selected-error-focus-container-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_selected-error-focus-icon-color: var(
    --md-checkbox-selected-error-focus-icon-color,
    var(--md-sys-color-on-error, #fff)
  );
  --_selected-error-hover-container-color: var(
    --md-checkbox-selected-error-hover-container-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_selected-error-hover-icon-color: var(
    --md-checkbox-selected-error-hover-icon-color,
    var(--md-sys-color-on-error, #fff)
  );
  --_selected-error-icon-color: var(
    --md-checkbox-selected-error-icon-color,
    var(--md-sys-color-on-error, #fff)
  );
  --_selected-error-pressed-container-color: var(
    --md-checkbox-selected-error-pressed-container-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_selected-error-pressed-icon-color: var(
    --md-checkbox-selected-error-pressed-icon-color,
    var(--md-sys-color-on-error, #fff)
  );
  --_selected-focus-container-color: var(
    --md-checkbox-selected-focus-container-color,
    var(--md-sys-color-primary, #6750a4)
  );
  --_selected-focus-icon-color: var(
    --md-checkbox-selected-focus-icon-color,
    var(--md-sys-color-on-primary, #fff)
  );
  --_selected-focus-state-layer-color: var(
    --md-checkbox-selected-focus-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );
  --_selected-focus-state-layer-opacity: var(
    --md-checkbox-selected-focus-state-layer-opacity,
    0.12
  );
  --_selected-hover-container-color: var(
    --md-checkbox-selected-hover-container-color,
    var(--md-sys-color-primary, #6750a4)
  );
  --_selected-hover-icon-color: var(
    --md-checkbox-selected-hover-icon-color,
    var(--md-sys-color-on-primary, #fff)
  );
  --_selected-hover-state-layer-color: var(
    --md-checkbox-selected-hover-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );
  --_selected-hover-state-layer-opacity: var(
    --md-checkbox-selected-hover-state-layer-opacity,
    0.08
  );
  --_selected-icon-color: var(
    --md-checkbox-selected-icon-color,
    var(--md-sys-color-on-primary, #fff)
  );
  --_selected-pressed-container-color: var(
    --md-checkbox-selected-pressed-container-color,
    var(--md-sys-color-primary, #6750a4)
  );
  --_selected-pressed-icon-color: var(
    --md-checkbox-selected-pressed-icon-color,
    var(--md-sys-color-on-primary, #fff)
  );
  --_selected-pressed-state-layer-color: var(
    --md-checkbox-selected-pressed-state-layer-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_selected-pressed-state-layer-opacity: var(
    --md-checkbox-selected-pressed-state-layer-opacity,
    0.12
  );
  --_state-layer-shape: var(--md-checkbox-state-layer-shape, 9999px);
  --_state-layer-size: var(--md-checkbox-state-layer-size, 40px);
  --_unselected-disabled-container-opacity: var(
    --md-checkbox-unselected-disabled-container-opacity,
    0.38
  );
  --_unselected-disabled-outline-color: var(
    --md-checkbox-unselected-disabled-outline-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_unselected-disabled-outline-width: var(
    --md-checkbox-unselected-disabled-outline-width,
    2px
  );
  --_unselected-error-focus-outline-color: var(
    --md-checkbox-unselected-error-focus-outline-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_unselected-error-hover-outline-color: var(
    --md-checkbox-unselected-error-hover-outline-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_unselected-error-outline-color: var(
    --md-checkbox-unselected-error-outline-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_unselected-error-pressed-outline-color: var(
    --md-checkbox-unselected-error-pressed-outline-color,
    var(--md-sys-color-error, #b3261e)
  );
  --_unselected-focus-outline-color: var(
    --md-checkbox-unselected-focus-outline-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_unselected-focus-outline-width: var(
    --md-checkbox-unselected-focus-outline-width,
    2px
  );
  --_unselected-focus-state-layer-color: var(
    --md-checkbox-unselected-focus-state-layer-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_unselected-focus-state-layer-opacity: var(
    --md-checkbox-unselected-focus-state-layer-opacity,
    0.12
  );
  --_unselected-hover-outline-color: var(
    --md-checkbox-unselected-hover-outline-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_unselected-hover-outline-width: var(
    --md-checkbox-unselected-hover-outline-width,
    2px
  );
  --_unselected-hover-state-layer-color: var(
    --md-checkbox-unselected-hover-state-layer-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_unselected-hover-state-layer-opacity: var(
    --md-checkbox-unselected-hover-state-layer-opacity,
    0.08
  );
  --_unselected-outline-color: var(
    --md-checkbox-unselected-outline-color,
    var(--md-sys-color-on-surface-variant, #49454f)
  );
  --_unselected-outline-width: var(--md-checkbox-unselected-outline-width, 2px);
  --_unselected-pressed-outline-color: var(
    --md-checkbox-unselected-pressed-outline-color,
    var(--md-sys-color-on-surface, #1d1b20)
  );
  --_unselected-pressed-outline-width: var(
    --md-checkbox-unselected-pressed-outline-width,
    2px
  );
  --_unselected-pressed-state-layer-color: var(
    --md-checkbox-unselected-pressed-state-layer-color,
    var(--md-sys-color-primary, #6750a4)
  );
  --_unselected-pressed-state-layer-opacity: var(
    --md-checkbox-unselected-pressed-state-layer-opacity,
    0.12
  );
  --_container-shape-start-start: var(
    --md-checkbox-container-shape-start-start,
    var(--_container-shape)
  );
  --_container-shape-start-end: var(
    --md-checkbox-container-shape-start-end,
    var(--_container-shape)
  );
  --_container-shape-end-end: var(
    --md-checkbox-container-shape-end-end,
    var(--_container-shape)
  );
  --_container-shape-end-start: var(
    --md-checkbox-container-shape-end-start,
    var(--_container-shape)
  );
  --md-focus-ring-offset: -2px;
  border-end-end-radius: var(--_container-shape-end-end);
  border-end-start-radius: var(--_container-shape-end-start);
  border-start-end-radius: var(--_container-shape-start-end);
  border-start-start-radius: var(--_container-shape-start-start);
  display: inline-flex;
  height: 48px;
  position: relative;
  vertical-align: top;
  width: 48px;
  input {
    -webkit-appearance: none;
    appearance: none;
    block-size: 100%;
    inline-size: 100%;
    inset: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    position: absolute;
  }
  .container {
    border-radius: inherit;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .background,
  .icon,
  .outline,
  .mdc-ripple {
    inset: 0;
    margin: auto;
    position: absolute;
  }
  .background,
  .outline {
    border-radius: inherit;
    height: var(--_container-size);
    width: var(--_container-size);
  }
  .outline {
    border-color: var(--_unselected-outline-color);
    border-style: solid;
    border-width: var(--_unselected-outline-width);
    box-sizing: border-box;
  }
  .background {
    background-color: var(--_selected-container-color);
  }
  .background,
  .icon {
    opacity: 0;
    transform: scale(0.6);
    transition-duration: 0.15s, 50ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15), linear;
  }
  .selected .background,
  .selected .icon {
    opacity: 1;
    transform: scale(1);
    transition-duration: 0.35s, 50ms;
    transition-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1), linear;
  }
  .mdc-ripple {
    --md-ripple-focus-color: var(--_unselected-focus-state-layer-color);
    --md-ripple-focus-opacity: var(--_unselected-focus-state-layer-opacity);
    --md-ripple-hover-color: var(--_unselected-hover-state-layer-color);
    --md-ripple-hover-opacity: var(--_unselected-hover-state-layer-opacity);
    --md-ripple-pressed-color: var(--_unselected-pressed-state-layer-color);
    --md-ripple-pressed-opacity: var(--_unselected-pressed-state-layer-opacity);
    --md-ripple-shape: var(--_state-layer-shape);
    height: var(--_state-layer-size);
    width: var(--_state-layer-size);
  }

  .selected .mdc-ripple {
    --md-ripple-focus-color: var(--_selected-focus-state-layer-color);
    --md-ripple-focus-opacity: var(--_selected-focus-state-layer-opacity);
    --md-ripple-hover-color: var(--_selected-hover-state-layer-color);
    --md-ripple-hover-opacity: var(--_selected-hover-state-layer-opacity);
    --md-ripple-pressed-color: var(--_selected-pressed-state-layer-color);
    --md-ripple-pressed-opacity: var(--_selected-pressed-state-layer-opacity);
  }
  .error .mdc-ripple {
    --md-ripple-focus-color: var(--_error-focus-state-layer-color);
    --md-ripple-focus-opacity: var(--_error-focus-state-layer-opacity);
    --md-ripple-hover-color: var(--_error-hover-state-layer-color);
    --md-ripple-hover-opacity: var(--_error-hover-state-layer-opacity);
    --md-ripple-pressed-color: var(--_error-pressed-state-layer-color);
    --md-ripple-pressed-opacity: var(--_error-pressed-state-layer-opacity);
  }

  .mdc-focus{
    --md-focus-ring-color: var(--_unselected-outline-color);
    border-radius: inherit;
    height: var(--_icon-size);
    width: var(--_icon-size);
    top: 50%;
    left: 50%;
    margin-left: calc(-1 * (var(--_icon-size) / 2));
    margin-top: calc(-1 * (var(--_icon-size) / 2));
  }

  .selected .mdc-focus{
    --md-focus-ring-color: var(--_selected-focus-state-layer-color);
  }
  .error .mdc-focus{
    --md-focus-ring-color: var(--_error-focus-state-layer-color);
  }

  .icon {
    fill: var(--_selected-icon-color);
    height: var(--_icon-size);
    width: var(--_icon-size);
  }
  .mark.short {
    height: 2px;
    transition-property: transform, height;
    width: 2px;
  }
  .mark.long {
    height: 2px;
    transition-property: transform, width;
    width: 10px;
  }
  .mark {
    animation-duration: 0.15s;
    animation-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);
  }
  .selected .mark {
    animation-duration: 0.35s;
    animation-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
  }
  .checked .mark,
  .prev-checked.unselected .mark {
    transform: scaleY(-1) translate(7px, -14px) rotate(45deg);
  }
  .checked .mark.short,
  .prev-checked.unselected .mark.short {
    height: 5.6568542495px;
  }
  .checked .mark.long,
  .prev-checked.unselected .mark.long {
    width: 11.313708499px;
  }
  .indeterminate .mark,
  .prev-indeterminate.unselected .mark {
    transform: scaleY(-1) translate(4px, -10px) rotate(0deg);
  }
  .prev-unselected .mark {
    transition-property: none;
  }
  .prev-unselected.checked .mark.long {
    animation-name: prev-unselected-to-checked;
  }
  @keyframes prev-unselected-to-checked {
    0% {
      width: 0;
    }
  }
  .error .outline {
    border-color: var(--_unselected-error-outline-color);
  }
  .error .background {
    background: var(--_selected-error-container-color);
  }
  .error .icon {
    fill: var(--_selected-error-icon-color);
  }
  &:hover {
    .outline {
      border-color: var(--_unselected-hover-outline-color);
      border-width: var(--_unselected-hover-outline-width);
    }
    .background {
      background: var(--_selected-hover-container-color);
    }
    .icon {
      fill: var(--_selected-hover-icon-color);
    }
    .error {
      .outline {
        border-color: var(--_unselected-error-hover-outline-color);
      }
      .background {
        background: var(--_selected-error-hover-container-color);
      }
      .icon {
        fill: var(--_selected-error-hover-icon-color);
      }
    }
  }
  &:focus-within {
    .outline {
      border-color: var(--_unselected-focus-outline-color);
      border-width: var(--_unselected-focus-outline-width);
    }
    .background {
      background: var(--_selected-focus-container-color);
    }
    .icon {
      fill: var(--_selected-focus-icon-color);
    }
    .error {
      .outline {
        border-color: var(--_unselected-error-focus-outline-color);
      }
      .background {
        background: var(--_selected-error-focus-container-color);
      }
      .icon {
        fill: var(--_selected-error-focus-icon-color);
      }
    }
  }

  &:active {
    .outline {
      border-color: var(--_unselected-pressed-outline-color);
      border-width: var(--_unselected-pressed-outline-width);
    }
    .background {
      background: var(--_selected-pressed-container-color);
    }
    .icon {
      fill: var(--_selected-pressed-icon-color);
    }
    .error {
      .outline {
        border-color: var(--_unselected-error-pressed-outline-color);
      }
      .background {
        background: var(--_selected-error-pressed-container-color);
      }
      .icon {
        fill: var(--_selected-error-pressed-icon-color);
      }
    }
  }
  .prev-disabled .background,
  .prev-disabled .icon,
  .prev-disabled .mark,
  &.disabled .background,
  &.disabled .icon,
  &.disabled .mark {
    animation-duration: 0s;
    transition-duration: 0s;
  }
  &.disabled {
    .outline {
      border-color: var(--_unselected-disabled-outline-color);
      border-width: var(--_unselected-disabled-outline-width);
      opacity: var(--_unselected-disabled-container-opacity);
    }
    .selected {
      .outline {
        visibility: hidden;
      }
      .background {
        background: var(--_selected-disabled-container-color);
        opacity: var(--_selected-disabled-container-opacity);
      }
    }
    .icon {
      fill: var(--_selected-disabled-icon-color);
    }
  }
  @media (forced-colors: active) {
    & {
      --md-checkbox-selected-container-color: CanvasText;
      --md-checkbox-selected-disabled-container-color: GrayText;
      --md-checkbox-selected-disabled-container-opacity: 1;
      --md-checkbox-selected-disabled-icon-color: Canvas;
      --md-checkbox-selected-error-container-color: CanvasText;
      --md-checkbox-selected-error-focus-container-color: CanvasText;
      --md-checkbox-selected-error-focus-icon-color: Canvas;
      --md-checkbox-selected-error-hover-container-color: CanvasText;
      --md-checkbox-selected-error-hover-icon-color: Canvas;
      --md-checkbox-selected-error-icon-color: Canvas;
      --md-checkbox-selected-error-pressed-container-color: CanvasText;
      --md-checkbox-selected-error-pressed-icon-color: Canvas;
      --md-checkbox-selected-focus-container-color: CanvasText;
      --md-checkbox-selected-focus-icon-color: Canvas;
      --md-checkbox-selected-hover-container-color: CanvasText;
      --md-checkbox-selected-hover-icon-color: Canvas;
      --md-checkbox-selected-icon-color: Canvas;
      --md-checkbox-selected-pressed-container-color: CanvasText;
      --md-checkbox-selected-pressed-icon-color: Canvas;
      --md-checkbox-unselected-disabled-container-opacity: 1;
      --md-checkbox-unselected-disabled-outline-color: GrayText;
      --md-checkbox-unselected-error-focus-outline-color: CanvasText;
      --md-checkbox-unselected-error-hover-outline-color: CanvasText;
      --md-checkbox-unselected-error-outline-color: CanvasText;
      --md-checkbox-unselected-error-pressed-outline-color: CanvasText;
      --md-checkbox-unselected-focus-outline-color: CanvasText;
      --md-checkbox-unselected-hover-outline-color: CanvasText;
      --md-checkbox-unselected-outline-color: CanvasText;
      --md-checkbox-unselected-pressed-outline-color: CanvasText;
    }
  }
}

